.App {
  text-align: center;
  margin-top: 50px;
  font-family: 'Arial', sans-serif;
  padding: 20px;
}


.timer {
  font-size: 18px;
  margin-bottom: 20px;
  color: #ff6b6b;
}

.question-card {
  background-color: #ffffff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
}

.question {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #493628;
}

.options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 20px;
}

.option-btn {
  flex: 1 1 calc(50% - 10px);
  background-color: #f0f4f7;
  color: #493628;
  border: 2px solid transparent;
  border-radius: 8px;
  padding: 12px 20px;
  margin: 10px 0;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, border 0.3s ease;
  max-width: 250px; 
  text-align: center;
}

.option-btn:hover {
  background-color: #e1e8ed;
}

.option-btn.selected {
  background-color: #AB886D;
  color: #fff;
}

.option-btn.correct {
  background-color: #27ae60;
  color: white;
  border-color: #27ae60;
}

.option-btn.incorrect {
  background-color: #e74c3c;
  color: white;
  border-color: #e74c3c;
}

.submit-btn {
  background-color: #AB886D;
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: #1f618d;
}

.submit-btn:disabled {
  background-color: #b2bec3;
  cursor: not-allowed;
}

.popup {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  border: 2px solid #ff6b6b;
  display: inline-block;
  color: #2c3e50;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}

.popup p {
  font-size: 18px;
  margin-bottom: 10px;
}

.popup button {
  background-color: #ff6b6b;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.popup button:hover {
  background-color: #e74c3c;
}
.question-card, .popup {
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
  margin-bottom: 20px;
}
